################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Caller/bin/Debug
/Caller/obj/Debug
/.vs/Caller/v14/.suo
